*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: blue;
}
ul{
    list-style: none;
}
header{
    display: grid;
    
}
section{
    min-height: 100vh;
    .nagoya{
        position: relative;
    }
}
.nagoya__item > img{
    height: 400px;
}