*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: navy;
}
.container{
    display: flex;
    margin-top: 40px;
}
section,main,aside{
    flex: 1;
    margin: 0 10px 10px;
}
h1{
    background: orangered;
}
p{
    background: yellow;
}